<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Defox</title>
</head>
<body>
<div class="x">

    <nav>
        <label class="logo">DefoX</label>
        <ul>
            <li><a href="#"  class="active">Home</a></li>
            <li><a href="#cntc" class="cont">Contact</a></li>
            <li><a href="feedback" target="_blank">Feedback</a></li>
        </ul>
    </nav>
    <div class="content1">
        <h3>High-Performance PCs</h3>
        <h1> Your dream setup, our expertise,<br> Designed for gamers, built for champions.</h1>
        <p>Discover our web app today and customize your ultimate gaming PC. Seamlessly blend power and performance, tailored to your needs<br> and step into a world where every click brings you closer to victory."</p>
    </div>

    <a href="order" target="_blank"><button class="button1">Order Now</button></a>
    <a href="order" target="_blank"><button class="button2">Discover PC</button></a>

</div>

<div class="daz" id="cntc">
    <div class="cnt">
        <label class="logo2">DefoX</label>
        <h3>Contact</h3>
        <P> <strong> Adresse :</strong>  Bd Laymoune, Casablanca,785959</P>
        <p> <strong> Phone :</strong> 0618110378 / 0512345600</p>
        <p> <strong> Hours :</strong> 8am -- 12pm , Mon to Sat</p>
    </div>


    <div class="app">
        <h3>Install app</h3>
        <p>From App Store or Google Play</p>
        <div >
            <img src="/img/appst.jpg" alt="appst" width="200">
            <img src="/img/plays.png" alt="play"  width="200" >
        </div>
    </div>
</div>

<div class="daz2">
    <div class="flw">
        <h3> For more info </h3>
        <a href="https://www.instagram.com/ayman_qassox/?hl=fr"> <img src="/img/insta.png" alt="insta" width="40"></a>
        <a href="https://www.facebook.com/ayman.Qasbaoui.12"> <img src="/img/Facebook.png" alt="insta" width="40"></a>
        <a href="https://wa.me/212618110378"> <img src="/img/whatsapp.png" alt="whatsapp" width="40"></a>
    </div>

    <div class="pmt">
        <p>secured Paiement Gateways</p>
        <img src="/img/adpakl.png" alt="appst" width="200">
    </div>
</div>
<footer>
    <p> DEFOX GAME &copy; 2024 TOUS LES DROITS SONT RÉSERVÉS</p>
</footer>

<script>
    window.addEventListener("scroll",function(){
        var nav = document.querySelector("nav");
        nav.classList.toggle("sticky",window.scrollY>0);
    })
</script>
</body>
</html>