<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Parisienne&family=Poppins:ital,wght@0,200;0,300;1,100&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/order.css">
    <title>Defox Order</title>
</head>
<style>
    nav{
    background-image: url("/img/back.jpeg");
    background-size: cover;
    background-position: center;
    }
    .container {
        z-index: 1;
        position: absolute;
        background-image: url("/img/pub.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        bottom: 180px;
    }
    .notification {
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #28a745;
        color: white;
        padding: 15px;
        border-radius: 5px;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.5s ease;
        font-size: 1.2rem;
    }


    .notification.show {
        opacity: 1;
    }

    .notification.hidden {
        opacity: 0;
    }


</style>
<body>
<div class="x">
    <nav>
        <img src="/img/logoB.png">

        <ul>
            <li><a href="Main">Home</a></li>
            <li><a href="feedback" target="_blank">Feedback</a></li>
        </ul>
        <img id="cart-icon" src="img/shopB.png">

           <img id="user-icon" src="/img/logoutbb.png" height="40" weight="40">

    <form method="post" action="/add_cart">

        <div class="cart" id="add_cart">
            <h2 class="cartt">Your Cart</h2>


            <div class="cartcontent">
            </div>

            <!--Total-->
            <div class="total">
                <div class="totalt">Total</div>
                <div class="totalp">0dhs</div>
            </div>
            <!--Button-->
            <button type="submit" class="btnbuy">Buy Now</button>
            <!--Cart Close-->
            <img src="/img/x.png" class="closec" height="30" weight="30">
        </div>
        </form>
    </nav>

    <div class="container">

    </div>

    <section class="container1">
        <h2 class="title">OUR PRODUCTS :</h2>

        <div class="content">
            <!-- Box 1 -->
            <div class="probox">
                <img src="/img/pc1.jpg" class="productimg" width="200" height="200">
                <h2 class="prodt">PC BUREAU INTEL</h2>
                <p class="txt">PC GAMER INTEL I9-11GEN-11900KF|16GB|1TB|RTX 3060 12GB</p>
                <span class="price">15990</span>
                <img src="/img/add.png" class="addc" >
            </div>

            <!-- Box 2 -->
            <div class="probox">
                <img src="/img/pc2.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">PC BUREAU GLASSPRO</h2>
                <p class="txt">GLASSPRO – AMD RYZEN 9 7900X3D - RTX 4060Ti </p>
                <span class="price">2990.00</span>
                <img src="/img/add.png" class="addc" >
            </div>

            <!-- Box 3 -->
            <div class="probox">
                <img src="/img/pc3.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">PC GAMER X </h2>
                <p class="txt">PC DE BUREAU GAMER GAMING X / I5 10400F / RTX 3060 TI TWIN EDGE 8G / 16 GO</p>
                <span class="price">3459.000</span>
                <img src="/img/add.png" class="addc" >
            </div>

            <!-- Box 4 -->
            <div class="probox">
                <img src="/img/pcP1.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">LAPTOP MSI</h2>
                <p class="txt">MSI Raider GE78 HX I9-13980HX /32GB DDR5/2TB/RTX 4070 8GB</p>
                <span class="price">29700.00</span>
                <img src="/img/add.png" class="addc" >
            </div>

            <!-- Box 5 -->
            <div class="probox">
                <img src="/img/PCp2.png" class="productimg"  width="200" height="200">
                <h2 class="prodt">LAPTOP GL</h2>
                <p class="txt">Laptop GL503 Intel Core i7 Asus, Laptop transparent background PNG clipart HiClipart</p>
                <span class="price">27500.00</span>
                <img src="/img/add.png" class="addc" >
            </div>

            <!-- Box 6 -->
            <div class="probox">
                <img src="/img/PCp3.png" class="productimg"  width="200" height="200">
                <h2 class="prodt">LAPTOP MSI</h2>
                <p class="txt">ntel Core i7-8750H, NVIDIA GeForce GTX 1050, 8 Go de RAM, SSD 256 Go + disque dur 1 To</p>
                <span class="price">12369.00</span>
                <img src="/img/add.png" class="addc" >
            </div>
            <!-- Box 7-->
            <div class="probox">
                <img src="/img/ecran1.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">Ecran HYBROK</h2>
                <p class="txt">Hybrok 27" LIGHT HL27IFL IPS 165Hz 1ms</p>
                <span class="price">1799.00</span>
                <img src="/img/add.png" class="addc" >
            </div>
            <!-- Box 8-->
            <div class="probox">
                <img src="/img/ecran2.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">Ecran ASROCK</h2>
                <p class="txt">ASRock PHANTOM GAMING PG34WQ15R3A 34" CURVED 165Hz</p>
                <span class="price">5999.00</span>
                <img src="/img/add.png" class="addc" >
            </div>
            <!-- Box 9-->
            <div class="probox">
                <img src="/img/ecran3.jpg" class="productimg"  width="200" height="200">
                <h2 class="prodt">Ecran ASUS</h2>
                <p class="txt">ASUS ROG Swift XG27AQMR 27" 300Hz Fast IPS</p>
                <span class="price">10899.00</span>
                <img src="/img/add.png" class="addc" >
            </div>
        </div>
    </section>
    <div id="notification" class="notification hidden">Produit ajouté au panier</div>

</div>


<script>

    var array_cart = [];

    document.getElementById("user-icon").addEventListener("click", function() {
        window.location.href = "login";
    });

    var carticon = document.querySelector('#cart-icon');
    var cart = document.querySelector('.cart');
    var closecart = document.querySelector('.closec');

    carticon.onclick = function(){
        cart.classList.add("active");
    };
    closecart.onclick = function(){
        cart.classList.remove("active");
    };

    if(document.readyState=="loading"){
        document.addEventListener("DOMContentLoaded",ready)
    }else{
        ready();
    }

    function ready(){
        var removebuttons = document.getElementsByClassName('rmv');
        console.log(removebuttons);
        for(var i = 0 ; i < removebuttons.length; i++){
            var button = removebuttons[i];
            button.addEventListener("click",removeitem);
        }
        var qtinputs = document.getElementsByClassName("cartqt")
        for (var i = 0 ; i < qtinputs.length; i++){
            var input = qtinputs[i]
            input.addEventListener("change",qtchanged);
        }
        var addcart = document.getElementsByClassName('addc')
        for (var i = 0 ; i < addcart.length; i++){
            var button = addcart[i]
            button.addEventListener("click",addcartClicked);
        }
        document.getElementsByClassName("btnbuy")[0].addEventListener("click",buybuttonclicked);
    }


    function buybuttonclicked(){
        var cartcontent = document.getElementsByClassName("cartcontent")[0];
        var input = document.createElement("input");
        input.name="carts";
        input.value=JSON.stringify(array_cart);

        document.getElementById("add_cart").append(input);
        while(cartcontent.hasChildNodes()){
            cartcontent.removeChild(cartcontent.firstChild);
        }
        updateTotal( );
        alert("Votre commande a été envoyée avec succès");

    }

    function removeitem(event){
        var buttonClicked = event.target;
        buttonClicked.parentElement.remove();
        updateTotal();
    }

    function qtchanged(event){
        var input = event.target
        if(isNaN(input.value)|| input.value <= 0) {
            input.value =1
        }
        updateTotal();
    }

    function addcartClicked(event){
        var button = event.target;
        var shopprod = button.parentElement;
        var title = shopprod.getElementsByClassName("prodt")[0].innerText;
        var price= shopprod.getElementsByClassName("price")[0].innerText;
        var productImg= shopprod.getElementsByClassName("productimg")[0].src;
        addProductToCart(title,price,productImg);
        updateTotal();
        showNotification("Produit ajouté au panier");
    }
    function addProductToCart(title,price,productImg){
        var cartshopbox = document.createElement("div");
        cartshopbox.classList.add("cartbox")
        var cartitems = document.getElementsByClassName("cartcontent")[0];
        var cartitemsname = cartitems.getElementsByClassName("cartprot");
        for (var i = 0 ; i <cartitemsname.length; i++){
            if(cartitemsname[i].innerText==title){
                alert("You have already add this item to cart");
                return;
            }
        }


        var cartboxcontent = `

              <img src="${productImg}" height="80" width="80" class="cartimg">
              <div class="detail">
                <div class="cartprot">${title}</div>
                <div class="cartprice">${price}</div>
                <input type="number" value="1" class="cartqt">
              </div>
               <!-- remove -->
              <img src="/img/trash.png" class="rmv"> `;

        var cart_ = {title : `${title}`, totalPrice : parseFloat(`${(price)}`)};
        array_cart.push(cart_);

        console.log(array_cart);




        cartshopbox.innerHTML = cartboxcontent;
        cartitems.append(cartshopbox);
        cartshopbox.getElementsByClassName('rmv')[0].addEventListener("click",removeitem);
        cartshopbox.getElementsByClassName('cartqt')[0].addEventListener("change",qtchanged);
    }

    function updateTotal(){
        var cartcontent = document.getElementsByClassName("cartcontent")[0];
        var cartBoxes = cartcontent.getElementsByClassName("cartbox");
        var total = 0;
        for(var i = 0 ; i < cartBoxes.length; i++){
            var cartBox = cartBoxes[i]
            var priceElement = cartBox.getElementsByClassName("cartprice")[0];
            var quantElement = cartBox.getElementsByClassName("cartqt")[0];
            var price = parseFloat(priceElement.innerText.replace("dhs",""));
            var qt = quantElement.value;
            total = total + (price * qt);
        }
        document.getElementsByClassName("totalp")[0].innerText = total + "dhs" ;


    }
    function showNotification(message) {
        var notification = document.getElementById('notification');
        notification.innerText = message;
        notification.classList.remove('hidden');
        notification.classList.add('show');

        setTimeout(function() {
            notification.classList.remove('show');
            notification.classList.add('hidden');
        }, 3000);
    }


</script>

</body>

</html>